src/main/resources/documents/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AUGMENTATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="VALUESERVER">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WEBSOCKET">
                <xs:complexType>
                  <xs:attribute name="url" type="xs:string" use="required" />
                  <xs:attribute name="prefix" type="xs:string" use="required" />
                  <xs:attribute name="transmitter" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="predefined" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="CAMERA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NODE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="NODE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="TEXT">
                                  <xs:complexType>
                                    <xs:attribute name="rgba" type="xs:string" use="required" />
                                    <xs:attribute name="label" type="xs:string" use="required" />
                                    <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="backrgba" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="SWITCH">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TRANSMIT">
                                              <xs:complexType>
                                                <xs:attribute name="attribute" type="xs:string" use="required" />
                                                <xs:attribute name="variable" type="xs:string" use="required" />
                                                <xs:attribute name="transmitter" type="xs:string" use="required" />
                                                <xs:attribute name="threshold" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="on" type="xs:boolean" use="required" />
                                          <xs:attribute name="onvalue" type="xs:boolean" use="required" />
                                          <xs:attribute name="offvalue" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="MODEL">
                                        <xs:complexType>
                                          <xs:attribute name="file" type="xs:string" use="required" />
                                          <xs:attribute name="texture" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="MODEL">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element name="LINK">
                                                    <xs:complexType>
                                                      <xs:attribute name="refer" type="xs:string" use="required" />
                                                      <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="file" type="xs:string" use="required" />
                                                <xs:attribute name="texture" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="ANIMATION">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="KEYFRAME">
                                                    <xs:complexType>
                                                      <xs:attribute name="time" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="value" type="xs:decimal" use="required" />
                                                      <xs:attribute name="lerp" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="attribute" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="sx" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                          <xs:attribute name="sz" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="rx" type="xs:short" use="required" />
                                          <xs:attribute name="view" type="xs:string" use="required" />
                                          <xs:attribute name="collapse" type="xs:string" use="optional" />
                                          <xs:attribute name="show" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="TEXT">
                                        <xs:complexType>
                                          <xs:attribute name="rgba" type="xs:string" use="required" />
                                          <xs:attribute name="label" type="xs:string" use="required" />
                                          <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="backrgba" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="tx" type="xs:short" use="optional" />
                                    <xs:attribute name="ty" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="tz" type="xs:decimal" use="optional" />
                                    <xs:attribute name="sxyz" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="view" type="xs:string" use="required" />
                                    <xs:attribute name="collapse" type="xs:string" use="optional" />
                                    <xs:attribute name="show" type="xs:string" use="optional" />
                                    <xs:attribute name="sx" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="sz" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="rx" type="xs:short" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="view" type="xs:string" use="required" />
                              <xs:attribute name="collapse" type="xs:string" use="required" />
                              <xs:attribute name="show" type="xs:string" use="required" />
                              <xs:attribute name="tx" type="xs:byte" use="optional" />
                              <xs:attribute name="ty" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="tz" type="xs:byte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tx" type="xs:short" use="required" />
                        <xs:attribute name="sxyz" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="view" type="xs:string" use="required" />
                        <xs:attribute name="collapse" type="xs:string" use="required" />
                        <xs:attribute name="show" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="sxyz" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="x" type="xs:unsignedByte" use="required" />
            <xs:attribute name="y" type="xs:decimal" use="required" />
            <xs:attribute name="scaleto" type="xs:string" use="required" />
            <xs:attribute name="distance" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TARGETBASE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TARGET">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NODE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="NODE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="NODE">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="TEXT">
                                        <xs:complexType>
                                          <xs:attribute name="rgba" type="xs:string" use="required" />
                                          <xs:attribute name="label" type="xs:string" use="required" />
                                          <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="backrgba" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="TEXT">
                                              <xs:complexType>
                                                <xs:attribute name="rgba" type="xs:string" use="required" />
                                                <xs:attribute name="label" type="xs:string" use="required" />
                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="backrgba" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="MODEL">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element name="LINK">
                                                    <xs:complexType>
                                                      <xs:attribute name="refer" type="xs:string" use="required" />
                                                      <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="file" type="xs:string" use="required" />
                                                <xs:attribute name="texture" type="xs:string" use="required" />
                                                <xs:attribute name="tint" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="ANIMATION">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="KEYFRAME">
                                                    <xs:complexType>
                                                      <xs:attribute name="time" type="xs:decimal" use="required" />
                                                      <xs:attribute name="value" type="xs:byte" use="required" />
                                                      <xs:attribute name="lerp" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="attribute" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="NODE">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" name="NODE">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="MODEL">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="LINK">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="refer" type="xs:string" use="required" />
                                                                              <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                                                              <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                                              <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="file" type="xs:string" use="required" />
                                                                        <xs:attribute name="texture" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="sx" type="xs:unsignedByte" use="required" />
                                                                  <xs:attribute name="sy" type="xs:unsignedByte" use="required" />
                                                                  <xs:attribute name="sz" type="xs:unsignedByte" use="required" />
                                                                  <xs:attribute name="view" type="xs:string" use="required" />
                                                                  <xs:attribute name="collapse" type="xs:string" use="required" />
                                                                  <xs:attribute name="show" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element minOccurs="0" name="TEXT">
                                                                <xs:complexType>
                                                                  <xs:attribute name="rgba" type="xs:string" use="required" />
                                                                  <xs:attribute name="label" type="xs:string" use="required" />
                                                                  <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                  <xs:attribute name="backrgba" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element minOccurs="0" name="MODEL">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="LINK">
                                                                      <xs:complexType>
                                                                        <xs:attribute name="refer" type="xs:string" use="required" />
                                                                        <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                                                        <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                                        <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="file" type="xs:string" use="required" />
                                                                  <xs:attribute name="texture" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="sx" type="xs:unsignedByte" use="optional" />
                                                            <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                                            <xs:attribute name="sz" type="xs:unsignedByte" use="optional" />
                                                            <xs:attribute name="view" type="xs:string" use="required" />
                                                            <xs:attribute name="collapse" type="xs:string" use="required" />
                                                            <xs:attribute name="show" type="xs:string" use="required" />
                                                            <xs:attribute name="tx" type="xs:byte" use="optional" />
                                                            <xs:attribute name="tz" type="xs:unsignedByte" use="optional" />
                                                            <xs:attribute name="rx" type="xs:unsignedByte" use="optional" />
                                                            <xs:attribute name="sxyz" type="xs:unsignedByte" use="optional" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="TEXT">
                                                          <xs:complexType>
                                                            <xs:attribute name="rgba" type="xs:string" use="required" />
                                                            <xs:attribute name="label" type="xs:string" use="required" />
                                                            <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                            <xs:attribute name="backrgba" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="MODEL">
                                                          <xs:complexType>
                                                            <xs:attribute name="file" type="xs:string" use="required" />
                                                            <xs:attribute name="texture" type="xs:string" use="required" />
                                                            <xs:attribute name="tint" type="xs:string" use="optional" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="ANIMATION">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element maxOccurs="unbounded" name="KEYFRAME">
                                                                <xs:complexType>
                                                                  <xs:attribute name="time" type="xs:unsignedByte" use="required" />
                                                                  <xs:attribute name="value" type="xs:decimal" use="required" />
                                                                  <xs:attribute name="lerp" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="attribute" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="sx" type="xs:unsignedShort" use="optional" />
                                                      <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                                      <xs:attribute name="sz" type="xs:unsignedShort" use="optional" />
                                                      <xs:attribute name="view" type="xs:string" use="required" />
                                                      <xs:attribute name="collapse" type="xs:string" use="required" />
                                                      <xs:attribute name="show" type="xs:string" use="required" />
                                                      <xs:attribute name="tx" type="xs:decimal" use="optional" />
                                                      <xs:attribute name="tz" type="xs:decimal" use="optional" />
                                                      <xs:attribute name="rx" type="xs:byte" use="optional" />
                                                      <xs:attribute name="sxyz" type="xs:unsignedByte" use="optional" />
                                                      <xs:attribute name="ty" type="xs:decimal" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="TEXT">
                                                    <xs:complexType>
                                                      <xs:attribute name="rgba" type="xs:string" use="required" />
                                                      <xs:attribute name="label" type="xs:string" use="required" />
                                                      <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="backrgba" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="LINK">
                                                    <xs:complexType>
                                                      <xs:attribute name="w" type="xs:unsignedShort" use="required" />
                                                      <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="d" type="xs:unsignedShort" use="required" />
                                                      <xs:attribute name="refer" type="xs:string" use="required" />
                                                      <xs:attribute name="rgb" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="MODEL">
                                                    <xs:complexType>
                                                      <xs:sequence minOccurs="0">
                                                        <xs:element name="LINK">
                                                          <xs:complexType>
                                                            <xs:attribute name="refer" type="xs:string" use="required" />
                                                            <xs:attribute name="w" type="xs:unsignedByte" use="required" />
                                                            <xs:attribute name="h" type="xs:unsignedByte" use="required" />
                                                            <xs:attribute name="d" type="xs:unsignedByte" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="file" type="xs:string" use="required" />
                                                      <xs:attribute name="texture" type="xs:string" use="required" />
                                                      <xs:attribute name="tint" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="ANIMATION">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element maxOccurs="unbounded" name="KEYFRAME">
                                                          <xs:complexType>
                                                            <xs:attribute name="time" type="xs:decimal" use="required" />
                                                            <xs:attribute name="value" type="xs:decimal" use="required" />
                                                            <xs:attribute name="lerp" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="attribute" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="sx" type="xs:unsignedByte" use="optional" />
                                                <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                                <xs:attribute name="sz" type="xs:unsignedByte" use="optional" />
                                                <xs:attribute name="view" type="xs:string" use="required" />
                                                <xs:attribute name="collapse" type="xs:string" use="optional" />
                                                <xs:attribute name="show" type="xs:string" use="optional" />
                                                <xs:attribute name="rx" type="xs:byte" use="optional" />
                                                <xs:attribute name="tx" type="xs:decimal" use="optional" />
                                                <xs:attribute name="ty" type="xs:decimal" use="optional" />
                                                <xs:attribute name="tz" type="xs:decimal" use="optional" />
                                                <xs:attribute name="sxyz" type="xs:decimal" use="optional" />
                                                <xs:attribute name="ry" type="xs:unsignedByte" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="view" type="xs:string" use="required" />
                                          <xs:attribute name="collapse" type="xs:string" use="required" />
                                          <xs:attribute name="show" type="xs:string" use="required" />
                                          <xs:attribute name="ty" type="xs:decimal" use="optional" />
                                          <xs:attribute name="tz" type="xs:decimal" use="optional" />
                                          <xs:attribute name="rx" type="xs:short" use="optional" />
                                          <xs:attribute name="sxyz" type="xs:decimal" use="optional" />
                                          <xs:attribute name="tx" type="xs:decimal" use="optional" />
                                          <xs:attribute name="sx" type="xs:unsignedByte" use="optional" />
                                          <xs:attribute name="sy" type="xs:unsignedByte" use="optional" />
                                          <xs:attribute name="sz" type="xs:unsignedByte" use="optional" />
                                          <xs:attribute name="ry" type="xs:byte" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="MODEL">
                                        <xs:complexType>
                                          <xs:attribute name="file" type="xs:string" use="required" />
                                          <xs:attribute name="texture" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ty" type="xs:decimal" use="optional" />
                                    <xs:attribute name="tz" type="xs:decimal" use="optional" />
                                    <xs:attribute name="sxyz" type="xs:unsignedByte" use="optional" />
                                    <xs:attribute name="view" type="xs:string" use="required" />
                                    <xs:attribute name="collapse" type="xs:string" use="required" />
                                    <xs:attribute name="show" type="xs:string" use="required" />
                                    <xs:attribute name="tx" type="xs:decimal" use="optional" />
                                    <xs:attribute name="rx" type="xs:byte" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="view" type="xs:string" use="required" />
                              <xs:attribute name="collapse" type="xs:string" use="required" />
                              <xs:attribute name="show" type="xs:string" use="required" />
                              <xs:attribute name="tx" type="xs:decimal" use="optional" />
                              <xs:attribute name="ty" type="xs:decimal" use="optional" />
                              <xs:attribute name="tz" type="xs:decimal" use="optional" />
                              <xs:attribute name="rx" type="xs:byte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tz" type="xs:decimal" use="required" />
                        <xs:attribute name="rx" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="sxyz" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="marker" type="xs:string" use="required" />
                  <xs:attribute name="extended" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="file" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="viewdisplay" type="xs:boolean" use="required" />
      <xs:attribute name="viewlist" type="xs:string" use="required" />
      <xs:attribute name="viewswitch" type="xs:boolean" use="required" />
      <xs:attribute name="version" type="xs:unsignedShort" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>